body {
    padding-top: 70px;
    font-family: Arial;
}

/* Hero */
.hero {
    height: 100vh;
    background: url("https://source.unsplash.com/1600x900/?restaurant") no-repeat center;
    background-size: cover;
}

/* Cards */
.card {
    transition: 0.3s;
}
.card:hover {
    transform: scale(1.05);
}

/* Navbar hover */
.nav-link:hover {
    color: orange !important;
}