body {
    font-family: Arial;
    text-align: center;
    background-color: #f4f4f4;
}

.container {
    margin: 20px;
}

input {
    padding: 10px;
    margin: 5px;
}

button {
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
}

ul {
    list-style-type: none;
}

li {
    background: white;
    margin: 5px;
    padding: 10px;
}